* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 3px solid blue;
}

header, form {
    border: 3px solid red;
}

form {
    display: flex;
    justify-content: space-between;
}

.right-section, .left-section {
    flex: 1;
}

input {
    width: 100%;
}

/* Billed to */
.billed-to {
    border: 3px solid blue;
}

.billed-to input {
    display: flex;
}

/* Payment details */
.payment-details {
    border: 3px solid green;
}

.payment-option {
    display: flex;
}

.payment-option button{
    width: 100%;
}

.expiry-cvc {
    display: flex;
}

.billing-options {
    border: 3px solid orange;
}

.add-ons {
    border: 3px solid aquamarine;
}

.pricing-details {
    border: 3px solid blue;
}

/* Billing options */
.monthly, .annually, .notion-ai {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/* Pricing details */
.price {
    display: flex;
    justify-content: space-between;
}

.upgrade-btn {
    width: 100%;
}